* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.confirm-seat-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}



.confirm-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c3beba;
}


.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    height: 100vh;
}

.confirm-title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Noto Serif JP', serif;
    color: #343434;
}

.confirm-form {
    background-color: #dededebc;
    padding: 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.confirm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-store-name, .confirm-seat-number,
.confirm-start-time, .confirm-num-people, 
.confirm-phone-number {
    font-size: 2.2rem;
    font-weight: 700;
    color: #1c1917;
    margin-bottom: 2rem;
    font-family: 'Noto Serif JP', serif;
}

.confirm-label {
    font-family: 'Noto Serif JP', serif;
}


.confirm-notes {
    font-size: 1.2rem;
    color: #4f4d4b;
    margin-bottom: 2rem;
    text-align: start;
}


.btn-confirm {
    background-color: #1c1917aa;
    color: #ffffff;
    padding: 0.875rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #7a7a7a;
    transition: background-color 0.3s ease;
}



.btn-edit {
    color: #16410b;
    padding: 0.875rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
    transition: color 0.3s ease;
}

.btn-edit:hover {
    color: #8b50eb;
    transition: color 0.3s ease;
}